# 4.3.2 데이터세트 및
# 4.3.4 파이선 연관 분석

In [21]:
# from google.colab import drive
# drive.mount('/content/drive')

In [22]:
import pandas as pd
import numpy as np
df = pd.read_csv('basket_analysis.csv')
df.shape

(999, 17)

In [23]:
df.head(3)

,Unnamed: 0,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True

In [24]:
# Unnamed: 0 컬럼 제거
df = df.drop('Unnamed: 0',axis=1) # 새로축에서 unnamed: 0d을 지우고 싶다.
df.head(3)

,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True

In [25]:
df1 = df.replace(True, 1).replace(False, "")   # True를 1로, False를 결측값으로 변환
df1.head(3)

,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,,1,,,1,1,,1,,,,,1,,1,1
1,,,,,,,,,,1,,,,,,
2,1,,1,,,1,,1,,1,,,,,1,1

In [26]:
# 데이터프레임 df1를 구글 클라우드 지정 경로에 basket_analysis_number.csv 파일명으로 저장
df1.to_csv('basket_analysis_number.csv', index=False)

In [27]:
df.head(3)

,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True

In [28]:
# mlxtend 라이브러리에서 apriori, association_rules 기능 import 
from mlxtend.frequent_patterns import apriori, association_rules
import warnings
warnings.filterwarnings('ignore')

In [29]:
# Apriori 알고리듬을 통해 Frequent Itemsets 계산
# 오렌지3 Frequent Itemsets 환경설정과 동일하게 설정
frequent_itemsets = apriori(df,
                            min_support = .01,
                            max_len = 6,
                            use_colnames = True)

In [30]:
# Frequent Itemset를 support값에 따라 sort 후 첫 5행까지 디스플레이
frequent_itemsets.sort_values(by=['support']).head()

      support                                           itemsets
9415  0.01001  (Unicorn, Corn, Bread, Eggs, Kidney Beans, Sugar)
7924  0.01001       (Apple, Nutmeg, Dill, Eggs, Cheese, Unicorn)
7930  0.01001         (Apple, Yogurt, Dill, Eggs, Cheese, Sugar)
7934  0.01001  (Apple, Milk, Dill, Cheese, Kidney Beans, Ice ...
7936  0.01001  (Apple, Onion, Dill, Cheese, Kidney Beans, Ice...

In [31]:
# Frequent_Itemsets를 대상으로 연관 규칙(Association rule) 생성 
rules = association_rules(frequent_itemsets,
                            metric = 'support',
                            min_threshold=0.01)

In [32]:
rules.shape

(473170, 10)

In [33]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Apple),(Bread),0.383383,0.384384,0.154154,0.402089,1.046059,0.006788,1.029610,0.071407
1,(Bread),(Apple),0.384384,0.383383,0.154154,0.401042,1.046059,0.006788,1.029482,0.071524
2,(Apple),(Butter),0.383383,0.420420,0.188188,0.490862,1.167549,0.027006,1.138354,0.232730
3,(Butter),(Apple),0.420420,0.383383,0.188188,0.447619,1.167549,0.027006,1.116289,0.247602
4,(Apple),(Cheese),0.383383,0.404404,0.162162,0.422977,1.045925,0.007120,1.032186,0.071208
...,...,...,...,...,...,...,...,...,...,...
473165,(Yogurt),"(chocolate, Nutmeg, Sugar, Onion, Unicorn)",0.420420,0.021021,0.012012,0.028571,1.359184,0.003174,1.007772,0.455959
473166,(Nutmeg),"(chocolate, Yogurt, Sugar, Onion, Unicorn)",0.401401,0.026026,0.012012,0.029925,1.149818,0.001565,1.004019,0.217670
473167,(Sugar),"(chocolate, Yogurt, Nutmeg, Onion, Unicorn)",0.409409,0.026026,0.012012,0.029340,1.127327,0.001357,1.003414,0.191243
473168,(Onion),"(chocolate, Yogurt, Nutmeg, Sugar, Unicorn)",0.403403,0.022022,0.012012,0.029777,1.352132,0.003128,1.007993,0.436521
473169,(Unicorn),"(chocolate, Yogurt, Nutmeg, Onion, Sugar)",0.389389,0.023023,0.012012,0.030848,1.339890,0.003047,1.008074,0.415437

In [34]:
c1 = rules['confidence'] > 0.85   # 조건 C1 생성
filtered_rules = rules[c1]        # 조건 C1을 만족하는 연관 규칙 필터링
filtered_rules.shape

(36, 10)

In [35]:
# support 변수 기준으로 내림차순 정렬
filtered_rules.sort_values(by=['support'],ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
287049,"(Nutmeg, Corn, Milk, Bread, Butter)",(Kidney Beans),0.024024,0.408408,0.021021,0.875000,2.142463,0.011209,4.732733,0.546374
321209,"(Nutmeg, Corn, Milk, Bread, Unicorn)",(Kidney Beans),0.021021,0.408408,0.019019,0.904762,2.215336,0.010434,6.211712,0.560381
249166,"(Apple, Nutmeg, Sugar, Unicorn, Ice cream)",(Corn),0.022022,0.407407,0.019019,0.863636,2.119835,0.010047,4.345679,0.540161
246872,"(Apple, Nutmeg, Sugar, Eggs, Unicorn)",(Corn),0.021021,0.407407,0.018018,0.857143,2.103896,0.009454,4.148148,0.535958
223126,"(Apple, Nutmeg, Sugar, Cheese, Unicorn)",(Corn),0.021021,0.407407,0.018018,0.857143,2.103896,0.009454,4.148148,0.535958
287174,"(Corn, Milk, Bread, Butter, Sugar)",(Kidney Beans),0.021021,0.408408,0.018018,0.857143,2.098739,0.009433,4.141141,0.534765
253816,"(Apple, chocolate, Nutmeg, Sugar, Unicorn)",(Corn),0.021021,0.407407,0.018018,0.857143,2.103896,0.009454,4.148148,0.535958
321147,"(Nutmeg, Corn, Milk, Bread, Sugar)",(Kidney Beans),0.021021,0.408408,0.018018,0.857143,2.098739,0.009433,4.141141,0.534765
219717,"(Apple, Unicorn, Eggs, Cheese, Sugar)",(Corn),0.021021,0.407407,0.018018,0.857143,2.103896,0.009454,4.148148,0.535958
367463,"(Nutmeg, Corn, Milk, Butter, Ice cream)",(Kidney Beans),0.021021,0.408408,0.018018,0.857143,2.098739,0.009433,4.141141,0.534765
318977,"(Nutmeg, Corn, Milk, Bread, Ice cream)",(Kidney Beans),0.019019,0.408408,0.017017,0.894737,2.190789,0.009249,5.620120,0.554082
411667,"(chocolate, Dill, Eggs, Cheese, Sugar)",(Kidney Beans),0.020020,0.408408,0.017017,0.850000,2.081250,0.008841,3.943944,0.530133
287111,"(Butter, Corn, Milk, Bread, Onion)",(Kidney Beans),0.020020,0.408408,0.017017,0.850000,2.081250,0.008841,3.943944,0.530133
337517,"(chocolate, Kidney Beans, Bread, Onion, Sugar)",(Yogurt),0.018018,0.420420,0.016016,0.888889,2.114286,0.008441,5.216216,0.536697
423757,"(chocolate, Sugar, Eggs, Cheese, Unicorn)",(Kidney Beans),0.018018,0.408408,0.016016,0.888889,2.176471,0.008657,5.324324,0.550459
456371,"(chocolate, Yogurt, Dill, Eggs, Unicorn)",(Milk),0.018018,0.405405,0.016016,0.888889,2.192593,0.008711,5.351351,0.553899
172597,"(Apple, Unicorn, Bread, Eggs, Sugar)",(Corn),0.017017,0.407407,0.015015,0.882353,2.165775,0.008082,5.037037,0.547590
331005,"(Nutmeg, Bread, Eggs, Onion, Ice cream)",(Sugar),0.016016,0.409409,0.014014,0.875000,2.137225,0.007457,4.724725,0.540764
312405,"(Nutmeg, Sugar, Bread, Cheese, Unicorn)",(Kidney Beans),0.016016,0.408408,0.014014,0.875000,2.142463,0.007473,4.732733,0.541927
168505,"(Apple, Sugar, Bread, Cheese, Unicorn)",(Corn),0.016016,0.407407,0.014014,0.875000,2.147727,0.007489,4.740741,0.543090
301617,"(Nutmeg, Corn, Bread, Cheese, Unicorn)",(Kidney Beans),0.014014,0.408408,0.013013,0.928571,2.273634,0.007290,8.282282,0.568137
440686,"(Corn, Kidney Beans, Eggs, Onion, Ice cream)",(Yogurt),0.015015,0.420420,0.013013,0.866667,2.061429,0.006700,4.346847,0.522749
168316,"(Apple, Nutmeg, Corn, Bread, Cheese)",(Sugar),0.015015,0.409409,0.013013,0.866667,2.116870,0.006866,4.429429,0.535647
421216,"(chocolate, Eggs, Cheese, Sugar, Ice cream)",(Kidney Beans),0.015015,0.408408,0.013013,0.866667,2.122059,0.006881,4.436937,0.536820
413095,"(chocolate, Nutmeg, Eggs, Cheese, Unicorn)",(Dill),0.014014,0.398398,0.013013,0.928571,2.330761,0.007430,8.422422,0.579071
167638,"(Apple, Bread, Eggs, Cheese, Unicorn)",(Corn),0.014014,0.407407,0.013013,0.928571,2.279221,0.007304,8.296296,0.569231
316003,"(Yogurt, Corn, Bread, Dill, Unicorn)",(Sugar),0.014014,0.409409,0.012012,0.857143,2.093608,0.006275,4.134134,0.529780
440067,"(Yogurt, Nutmeg, Corn, Dill, Unicorn)",(chocolate),0.014014,0.421421,0.012012,0.857143,2.033933,0.006106,4.050050,0.515567
381105,"(Sugar, Milk, Dill, Butter, Unicorn)",(chocolate),0.014014,0.421421,0.012012,0.857143,2.033933,0.006106,4.050050,0.515567
393625,"(Nutmeg, Corn, Dill, Eggs, Unicorn)",(Cheese),0.014014,0.404404,0.012012,0.857143,2.119519,0.006345,4.169169,0.535702
180719,"(Apple, Onion, Bread, Eggs, Kidney Beans)",(Yogurt),0.014014,0.420420,0.012012,0.857143,2.038776,0.006120,4.057057,0.516751
325552,"(chocolate, Bread, Dill, Eggs, Ice cream)",(Yogurt),0.014014,0.420420,0.012012,0.857143,2.038776,0.006120,4.057057,0.516751
264357,"(Apple, Onion, Eggs, Kidney Beans, Ice cream)",(Milk),0.014014,0.405405,0.012012,0.857143,2.114286,0.006331,4.162162,0.534518
161190,"(Apple, Bread, Eggs, Butter, Unicorn)",(Corn),0.014014,0.407407,0.012012,0.857143,2.103896,0.006303,4.148148,0.532149
254807,"(Apple, Nutmeg, Dill, Eggs, Ice cream)",(Sugar),0.012012,0.409409,0.011011,0.916667,2.238998,0.006093,7.087087,0.560099
172287,"(Apple, Nutmeg, Bread, Eggs, Unicorn)",(Corn),0.011011,0.407407,0.010010,0.909091,2.231405,0.005524,6.518519,0.557996