In [32]:
from platform import python_version
python_version()

'3.7.16'

In [33]:
import pandas as pd
import numpy as np

df = pd.read_csv('./healthcare-dataset-stroke-data.csv')
df.shape
df.head(3)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1

In [34]:
cols = ['age', 'avg_glucose_level', 'bmi']
df1 = df[cols]

df1.shape
df1.head(3)

    age  avg_glucose_level   bmi
0  67.0             228.69  36.6
1  61.0             202.21   NaN
2  80.0             105.92  32.5

In [35]:
df1.describe()

               age  avg_glucose_level          bmi
count  5110.000000        5110.000000  4909.000000
mean     43.226614         106.147677    28.893237
std      22.612647          45.283560     7.854067
min       0.080000          55.120000    10.300000
25%      25.000000          77.245000    23.500000
50%      45.000000          91.885000    28.100000
75%      61.000000         114.090000    33.100000
max      82.000000         271.740000    97.600000

In [36]:
df2 = df1.dropna() # 데이터 프레임 df1의 결측값이 있는 행을 제거하고
df2.describe()

               age  avg_glucose_level          bmi
count  4909.000000        4909.000000  4909.000000
mean     42.865374         105.305150    28.893237
std      22.555115          44.424341     7.854067
min       0.080000          55.120000    10.300000
25%      25.000000          77.070000    23.500000
50%      44.000000          91.680000    28.100000
75%      60.000000         113.570000    33.100000
max      82.000000         271.740000    97.600000

In [37]:
from sklearn.preprocessing import StandardScaler
X_scaled = StandardScaler().fit_transform(df2)

type(X_scaled)

numpy.ndarray

In [38]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)     # 주성분을 2개 지정
X_pca = pca.fit_transform(X_scaled) # X_scaled에 저장된 자료를 통해 주성분 분석

df_pca = pd.DataFrame(data=X_pca, columns=['PC1', 'PC2']) #X_pca가 numpy array 이를 데이터
df_pca.shape

ValueError: Shape of passed values is (4909, 2), indices imply (4909, 3)

In [ ]:
df_pca.head(3)

In [ ]:
print(pca.explained_variance_ratio_) # 각 주성분이 설명하는 분산 비용을 표기

In [43]:
df_scaled = pd.DataFrame(data=X_scaled, columns=['PC1', 'PC2', 'PC3'])
 #X_scaled가 numpy array 형태인데 이를 데이터

df_scaled.to_csv('./healthcare-dataset-stroke-data-scaled.csv', index=False)